body {
  background-image: url(../img/Background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Titillium Web", sans-serif;
}

.header-container {
  max-width: 100%;
  text-align: center;
}
.header-logo {
  opacity: 0.25;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 1370px;
  align-content: center;
  align-items: center;
}
.box {
  width: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 40px 16px 40px;
}


.form-name {
  font-size: 32px;
  color: #ffffff;
  text-shadow: 1px 1.732px 2px rgba(43, 1, 0, 0.75);
  text-align: center;
}
.icon {
  color: #dedede;
  font-size: 16px;
  line-height: 31px;
  display: flex;
  margin: auto;
}
.bar {
  height: 31px;
  border: 1px solid #dedede;
}
.input-container {
  width: 338px;
  height: 39px;
  border-radius: 3px;
  box-shadow: 1px 1.732px 0px #ffffff;
  background-color: #f8f8f8;
  border: 1px solid #dedede;
  line-height: 31px;
  display: flex;
  align-content: center;
  align-items: center;
  margin-bottom: 15px;
  color: #afafaf;
}
.input-field {
  border: none;
  background: #f8f8f8;
  cursor: pointer;
  width: 80%;
  font-size: 16px;
  color: #afafaf;
  box-sizing: border-box;
  height: 33px;
  padding: 0px 15px;
}

input::placeholder {
  color: #afafaf;
}
.my-form {
}
.form-outer {
width: 420px;
height: auto;
border-radius: 5px;
background-color: rgba(0, 0, 0, 0.3);
display: flex;
justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.form-inner {
  padding: 20px 0px;
  background-color: #f4f4f4;
  border-radius: 3px;
  width: 382px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.agreement,
.copy,
.remember {
  font-size: 17px;
  color: #afafaf;
  font-weight: 300;
  position: relative;
}
input[type="checkbox"] {
  display: none;
}
.agreement,
.copy,
.remember {
  position: relative;
  float: left;
  font-size: 17px;
  color: #afafaf;
  font-weight: 300;
}

.agreement::before,
.copy::before,
.remember::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  border-radius: 3px;
  box-shadow: 1px 1.732px 0px #ffffff;
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  left: -6px;
}

.agreement::after,
.copy::after,
.remember::after {
  content: "";
  width: 13px;
  height: 13px;
  border-radius: 3px;
  box-shadow: 0.5px 0.866px 0px #ffffff;
  background-color: #88c814;
  position: absolute;
  border-top-width: 0;
  border-left-width: 0;
  display: none;
  top: 6px;
  left: 0;
  transition: 0.4s;
}

#agreement:checked + .agreement::after,
#copy:checked + .copy::after,
#remember:checked + .remember::after {
  display: block;
  transform: scale(1, 1);
}

input[type="checkbox"]:not(:checked) + label,
input[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 32px;
}

input[type="submit"] {
  width: 339px;
  height: 48px;
  border-radius: 3px;
  box-shadow: 0.5px 0.866px 0px #ffffff;
  background-color: #93d02b;
  border: 1px solid #3b9a00;
  font-size: 24px;
  color: #ffffff;
  text-shadow: 0.559px 0.829px 0px #51850e;
}
.checkbox-container {
  padding-left: 26px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
}
.agreement-button {
  display: flex;
  width: 339px;
  justify-content: space-between;
}
input[type="submit"].btn-small {
  width: 139px;
}
#message {
  width: 337px;
  height: 230px;
  border-radius: 3px;
  box-shadow: 1px 1.732px 0px #ffffff;
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  margin-bottom: 22px;
}
#message::placeholder {
  font-size: 16px;
  color: #afafaf;
  font-weight: 300;
  padding: 5px 15px;
}
.checkbox-container-small {
  padding-left: 12px;
  align-self: center;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 338px;
}
input[type="submit"].btn-medium {
width: 148px;
height: 41px;
border-radius: 3px;
box-shadow: 0.5px 0.866px 0px #ffffff;
}
input[type="submit"].btn-medium.done {
  background-color: #b4d68d;
  border: 1px solid #90ca6c;
  font-size: 24px;
  color: #ffffff;
  text-shadow: 0.559px 0.829px 0px #3a7008;
  }
input[type="submit"].btn-medium.btn-red {
  background-color: #f4495b;
  border: 1px solid #a2202a
}
.footer-logo {
  margin-top: 35px;
  opacity: 0.15;
}
